<div class="p-2 rounded-lg shadow flex space-x-2 w-fit max-sm:flex-col max-sm:space-y-2">
    <div class="">
        <img class="max-w-[140px] max-h-[140px] object-cover mx-auto rounded-lg " [src]="apiUrl+'/'+category.image"/>
    </div>
    <div class="max-w-[378px]">
        <h3>
            <a [routerLink]="'/categories/'+category.id" class="text-xl font-semibold">{{category.name}}</a>
        </h3>
        <p class="text-xs mt-2">
            {{category.description}}
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam perferendis fuga iusto corrupti repellendus assumenda ducimus ad dolores
        </p>
    </div>
</div>