<app-client-layout>
    <div class="mx-auto p-6">
        <h1 class="text-3xl font-bold ">About Us</h1>
    </div>
    <div>
        <div class="flex space-x-2 p-4 items-center justify-center my-4 md:h-[70vh] flex-wrap">
            <div  pAnimateOnScroll
            enterClass="animate-fadeinleft"
            leaveClass="animate-fadeoutleft"
             class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out">
                <h3 class="font-medium text-2xl mb-8">
                    Brand Story
                </h3>
                <ul style="list-style-type:disc" class="text-lg space-y-2">
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vero deserunt! Dolorem ex doloribus natus officiis sed ipsam laboriosam nemo impedit, incidunt, aliquid, saepe nobis iusto quis fugiat. Aspernatur, illum.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vero deserunt! Dolorem ex doloribus natus officiis sed ipsam laboriosam nemo impedit, incidunt, aliquid, saepe nobis iusto quis fugiat. Aspernatur, illum.
                    </li>
                </ul>
            </div>
            <div 
            pAnimateOnScroll
            enterClass="animate-fadeinright"
            leaveClass="animate-fadeoutright">
                <img class="" src="assets/Traveler reading a book.png" alt="">
            </div>
        </div>
        <div class="flex md:flex-row md:space-x-2 my-4 max-md:flex-col-reverse max-md:space-y-2 max-md:space-y-reverse p-4 items-center justify-center flex-wrap md:h-[70vh] ">
            <div 
            pAnimateOnScroll
            enterClass="animate-fadeinleft"
            leaveClass="animate-fadeoutleft">
                <img class="" src="assets/Coming soon.png" alt="">
            </div>
            <div pAnimateOnScroll
            enterClass="animate-fadeinright"
            leaveClass="animate-fadeoutright" class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out">
                <h3 class="font-medium text-2xl mb-8">
                    Brand Story
                </h3>
                <ul style="list-style-type:disc" class="text-lg space-y-2">
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vero deserunt! Dolorem ex doloribus natus officiis sed ipsam laboriosam nemo impedit, incidunt, aliquid, saepe nobis iusto quis fugiat. Aspernatur, illum.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vero deserunt! Dolorem ex doloribus natus officiis sed ipsam laboriosam nemo impedit, incidunt, aliquid, saepe nobis iusto quis fugiat. Aspernatur, illum.
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="flex space-x-2 p-4 items-center justify-center mt-4 flex-wrap">
            
            <div pAnimateOnScroll
            enterClass="animate-fadeinleft"
            leaveClass="animate-fadeoutleft" class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out">
                <h3 class="font-medium text-2xl mb-8">
                    Brand Story
                </h3>
                <ul style="list-style-type:disc" class="text-lg space-y-2">
                    <li>
                        Pure essence est une marque de cosmétiques dédiée à la beauté authentique et respectueuse de l'environnement.Nos produits,formulés à partir d'ingrédients 100% naturels et biologiques,sont conçus pour nourrir la peau en profondeur tout                    
                    </li>
                    <li>
                        Chaque formulation est créée avec soin,en privilégié des actions botaniques puissants et des textures sensorielles,pour offrir une expérience de soin unique.Nous nous engageons également à une approche éthique: nos produits ne contiennent ni parabènes,ni sulfates                    
                    </li>
                    <li>
                        Pure essence vise à révéler l'eclat de chaque individu,tout en respectant la planète
                    </li>
                </ul>
            </div>
            <div pAnimateOnScroll
            enterClass="animate-fadeinright"
            leaveClass="animate-fadeoutright">
                <img class="" src="assets/Factory worker approving of packaging automation.png" alt="">
            </div>
        </div>
        
    </div>
</app-client-layout>

