<app-client-layout>
  <div class="mx-auto p-6">
    <h1 class="text-3xl font-bold">À propos de nous</h1>
  </div>
  <div>
    <div
      class="flex space-x-2 p-4 items-center justify-center my-4 md:h-[70vh] flex-wrap"
    >
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinleft"
        leaveClass="animate-fadeoutleft"
        class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out"
      >
        <h3 class="font-medium text-2xl mb-8">🌸 Histoire de la marque</h3>
        <ul style="list-style-type: disc" class="text-lg space-y-2">
          <li>
            NEH Cosmétiques est née d’une passion pour la nature et d’un profond
            désir de revenir à l’essentiel. Fondée par une amoureuse des plantes
            et du bien-être, notre marque puise son inspiration dans les rituels
            de beauté ancestraux, où les ingrédients naturels étaient les seuls
            alliés de la peau.
          </li>
          <li>
            Notre aventure a commencé avec une simple idée : proposer des soins
            authentiques, respectueux de la peau et de l’environnement, tout en
            valorisant les richesses naturelles du terroir marocain et
            d’ailleurs. Chaque produit est conçu avec soin, dans le respect de
            la nature et avec une promesse : révéler votre beauté naturelle.
          </li>
        </ul>
      </div>
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinright"
        leaveClass="animate-fadeoutright"
      >
        <img class="" src="assets/Traveler reading a book.png" alt="" />
      </div>
    </div>
    <div
      class="flex md:flex-row md:space-x-2 my-4 max-md:flex-col-reverse max-md:space-y-2 max-md:space-y-reverse p-4 items-center justify-center flex-wrap md:h-[70vh]"
    >
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinleft"
        leaveClass="animate-fadeoutleft"
      >
        <img class="" src="assets/Coming soon.png" alt="" />
      </div>
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinright"
        leaveClass="animate-fadeoutright"
        class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out"
      >
        <h3 class="font-medium text-2xl mb-8">🌿 Notre Mission</h3>
        <p class="text-lg">
            Chez NEH Cosmétiques, notre mission est claire : Offrir des produits de
            beauté sains, naturels et efficaces, pour une peau éclatante, respectée
            et bien soignée. Nous voulons :
        </p>
        <ul style="list-style-type: disc" class="space-y-1 my-4">
          <li>
            Promouvoir une beauté responsable, loin des produits chimiques agressifs.
          </li>
          <li>
            Sensibiliser nos clients à l’importance de consommer des cosmétiques plus éthiques.
          </li>
          <li>
            Offrir une expérience sensorielle unique, où chaque soin est un moment de plaisir et de bien-être.
          </li>
        </ul>
        <p class="text-lg">
            Nous croyons que prendre soin de soi ne devrait jamais compromettre la santé de sa peau ou celle de la planète.
        </p>
      </div>
    </div>
    <div class="flex space-x-2 p-4 items-center justify-center mt-4 flex-wrap">
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinleft"
        leaveClass="animate-fadeoutleft"
        class="md:w-[60%] p-4 animate-duration-1000 animate-ease-in-out"
      >
        <h3 class="font-medium text-2xl mb-8">🌱 Ingrédients & Qualité</h3>
        <ul style="list-style-type: disc" class="text-lg space-y-2">
          <li>
            La nature est notre laboratoire. Nous sélectionnons avec rigueur des ingrédients 100% naturels, souvent issus de l’agriculture biologique et sourcés de manière éthique. Nos produits sont formulés sans parabènes, sans silicones, sans sulfates et sans perturbateurs endocriniens.
          </li>
          <li>
           <span class="font-medium">Nos engagements qualité :</span>
            <ul>
                <li>
                    🌿 Ingrédients naturels et bio certifiés
                </li>
                <li>
                    🐰 Non testés sur les animaux
                </li>
                <li>
                    🧴 Fabrication artisanale en petites séries
                </li>
                <li>
                    🧪 Testés dermatologiquement, sans compromis sur la sécurité
                </li>
            </ul>
          </li>
          <li>
            Chaque flacon, chaque pot de crème est le fruit d’un savoir-faire respectueux, pour vous offrir ce que la nature a de meilleur.
          </li>
        </ul>
      </div>
      <div
        pAnimateOnScroll
        enterClass="animate-fadeinright"
        leaveClass="animate-fadeoutright"
      >
        <img
          class=""
          src="assets/Factory worker approving of packaging automation.png"
          alt=""
        />
      </div>
    </div>
  </div>
</app-client-layout>
