<div class="p-4 bg-white w-full rounded-lg">
  <div class="">
    <h2 class="text-2xl font-bold">Informations sur la commande :</h2>
    <div
      class="overflow-hidden w-fit border-0 bg-transparent flex items-center hover:bg-surface-100 rounded-none cursor-pointer transition-colors duration-200 mt-4"
    >
      <p-avatar
        [image]="apiUrl+'/upload/'+order?.client?.profilePic"
        class="mr-2"
        shape="circle"
      />
      <div class="flex text-lg font-medium space-x-2">
        <p class="text-gray-700">
          {{ order?.client?.firstName }}
        </p>
        <p class="text-gray-700">
          {{ order?.client?.lastName }}
        </p>
      </div>
    </div>
  </div>
  <div class="w-full my-4">
    <div class="flex justify-between">
        <h4 class="font-semibold text-xl">Commandé pour :</h4>
        <!-- <div class="relative">
            <select name="status" [(ngModel)]="order?.status" class="block lowercase w-full px-4 py-1 text-base text-gray-700 bg-white border border-gray-300 rounded-lg  focus:outline-none">
              <option *ngFor="let status of orderStatusArray"  [value]="status">{{ status }}</option>
            </select>
        </div> -->
        
    </div>
    <div class="flex justify-between my-2 flex-wrap">
        <div>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Prénom : </span>{{order?.firstName}}</p>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Nom : </span>{{order?.lastName}}</p>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Pays : </span>{{order?.country}}</p>
        </div>
        <div>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Ville : </span>{{order?.city}}</p>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Code postal : </span>{{order?.zipCode}}</p>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Téléphone : </span>{{order?.phone}}</p>
        </div>
        <div>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Mail : </span>{{order?.phone}}</p>
            <p class="text-gray-700"><span class="font-medium text-gray-600 my-2">Addresse : </span>{{order?.address}}</p>
        </div>
    </div>
  </div>
  <div class="flex space-x-4 p-2 my-2">
    <p>
        statut : <p-button *ngIf="role == 'Admin'" (click)="op.toggle($event)" [ngClass]="getStatusClasses(order?.status)" class="px-2 py-1 rounded-full font-semibold text-xs w-fit h-fit">{{order?.status}}</p-button> 
        <span *ngIf="role != 'Admin'" [ngClass]="getStatusClasses(order?.status)" class="px-2 py-1 rounded-full font-semibold text-xs w-fit h-fit">{{order?.status}} </span>
    </p>
    <p-overlayPanel #op>
      <div class="p-3">
        <form (submit)="updateStatus()" class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Statut de la commande:</label>
          {{selectedStatus}}
          <select name="status" [(ngModel)]="selectedStatus" class="w-full p-2 border rounded-lg shadow-sm bg-white text-gray-700 focus:ring-2 focus:ring-indigo-400">
            <option *ngFor="let status of orderStatusArray" [value]="status">{{ status }}</option>
          </select>
          <button type="submit" class="bg-green-400 text-white font-semibold px-2 py-1 rounded-lg mt-1">Sauvegarder</button>
        </form>        
      </div>
    </p-overlayPanel>
  </div>

  <div class="my-2">
    <div class="rounded-lg ">
        <div class="flex justify-center p-2 space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
            />
            <path d="M9 11v-5a3 3 0 0 1 6 0v5" />
          </svg>
          <p class="text-lg font-medium">Produits :</p>
        </div>
        <div
          class="w-full border-t-2 border-b-2 py-2 max-h-[50vh] overflow-y-auto"
        >
          <div
            *ngFor="let item of order?.orderedProducts"
            class="flex p-2 justify-between"
          >
            <img
              class="max-w-[60px] rounded-md"
              [src]="
                apiUrl +'/upload/'+
                item.product.productMedias[0].mediaName
              "
              alt=""
            />
            <div>
              <p class="text-sm font-semibold">{{ item.product.name }}</p>
            </div>
            <div>
              <p class="text-sm font-light">
                {{ item.product.finalPrice }} * {{ item.quantity }}
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="flex justify-between text-lg font-semibold">
            <p>Totale :</p>
            <p>{{ order?.totalPrice }} $</p>
          </div>
        </div>
      </div>
  </div>

</div>
