
<div class="h-screen w-full flex ">
    <div class="w-full max-w-sm m-auto overflow-hidden bg-white rounded-lg shadow-md h-fit">
        <div class="px-6 py-4">
            <div class="flex justify-center mx-auto items-center space-x-2">
                <img class="h-16 w-16" src="assets/logo.jpg" alt="">
                <h2 class="font-bold">NEH cosmetics </h2>
            </div>    
            <h3 class="mt-3 text-xl font-medium text-center text-gray-600">Welcome Back</h3>
    
            <p class="mt-1 text-center text-gray-500 ">Login or create account</p>
    
            <form (submit)="login()">
                <div class="w-full mt-4">
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg focus:border-[#8EAE69] focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-[#8EAE69]" name="email" [(ngModel)]="info.email" type="email" placeholder="Email Address" aria-label="Email Address" />
                </div>
    
                <div class="w-full mt-4">
                    <input class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-lg focus:border-[#8EAE69] focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-[#8EAE69]" name="password" [(ngModel)]="info.password" type="password" placeholder="Password" aria-label="Password" />
                </div>
                <div *ngIf="error" class="text-red-500 text-xs">
                    {{error}}
                </div>
    
                <div class="flex items-center justify-between mt-4">
                    <div></div>
    
                    <button type="submit" class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#49990B] rounded-lg focus:outline-none focus:ring-opacity-50">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    
        <div class="flex items-center justify-center py-4 text-center bg-gray-50">
            <span class="text-sm text-gray-600 ">Don't have an account? </span>
    
            <a routerLink="/register" class="mx-2 text-sm font-bold text-[#49990B] hover:underline">Register</a>
        </div>
    </div>
</div>