<div class="p-4 shadow rounded-lg">
  <div class="flex justify-between">
    <p class="font-bold text-md">{{order.totalPrice}}$</p>
    <p class="font-light text-sm">12/10/2024</p>
  </div>
  <div class="flex space-x-4 mt-2">
    <p><span class="font-medium">Products : </span> {{order.orderedProducts.length}}</p>
  </div>
  <div class="mt-2">
    <p class="text-md font-bold">order for :</p>
    <div class="flex flex-wrap space-x-4 mt-1">
      <p class="font-medium">{{order.firstName}} {{order.lastName}}</p>
      <div class="flex">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
        <p>:{{order.email}}</p>
      </div>
      <div class="flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-phone"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
          />
        </svg>
        <p>:{{order.phone}}</p>
      </div>
    </div>
  </div>
  <div class="flex my-2 justify-between items-center">
    <span [ngClass]="getStatusClasses(order.status)" class="px-2 py-1 rounded-full font-semibold text-xs w-fit h-fit">{{order.status}}</span>
    <button class="py-1 px-2 rounded-md bg-[#8DB600] text-white text-sm font-semibold">
        Details
    </button>
  </div>
</div>
