<form (submit)="putData()" class="p-4 rounded-lg bg-white">
    <div class="mb-6">
        <label for="category_name" class="block mb-2 text-sm font-medium">Nom du tag</label>
        <input name="category_name" type="text" id="category_name" [(ngModel)]="tagDtoRequest.name" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 placeholder-gray-700 shadow" placeholder="nom de la catégorie" required />
    </div> 

    <button class="text-white bg-[#8DB600] hover:bg-[#8DB600]/80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Soumettre</button>
</form>
