<form class="max-w-lg mx-auto p-4 shadow rounded-md" (submit)="putData()">
    <div class="mb-6">
        <label for="product_name" class="block mb-2 text-sm font-medium text-gray-800">Product name</label>
        <input name="product_name" type="text" id="product_name" [(ngModel)]="productDtoRequest.name" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required />
    </div> 

    <div class="mb-6">
        <label for="category_name" class="block mb-2 text-sm font-medium text-gray-800">Product Category</label>
        <select name="category_name"[(ngModel)]="productDtoRequest.categoryId" id="category_name"  class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required >
            <Option [value]="categoryDtoRequest.id">{{ categoryDtoRequest.name }}</Option>
            <Option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</Option>
        </select>
    </div> 

    <div class="mb-6 flex space-x-4 w-full">
        <div class="w-full">
            <label for="category_name" class="block mb-2 text-sm font-medium text-gray-800">Purchase Price</label>
            <input name="category_name" type="number" id="category_name" [(ngModel)]="productDtoRequest.purchasePrice" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required />
        </div>
        <div class="w-full">
            <label for="category_name" class="block mb-2 text-sm font-medium text-gray-800">final Price</label>
            <input name="category_name" type="number" id="category_name" [(ngModel)]="productDtoRequest.finalPrice" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required />
        </div>
    </div>
    
    <div class="mb-6 flex space-x-4 w-full">
        <div class="w-full">
            <label for="category_name" class="block mb-2 text-sm font-medium text-gray-800">Quantity</label>
            <input name="category_name" type="number" id="category_name" [(ngModel)]="productDtoRequest.quantity" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required />
        </div>
        <div class="w-full">
            <label for="category_name" class="block mb-2 text-sm font-medium text-gray-800">Weight (g)</label>
            <input name="category_name" type="number" id="category_name" [(ngModel)]="productDtoRequest.weight" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" placeholder="category name" required />
        </div>
    </div>
    
    <div class="mb-6">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-800">Description</label>
        <textarea name="description" id="message"  rows="4" class="bg-white/20 border border-gray-300 text-gray-800 text-sm rounded-lg  block w-full p-2.5 placeholder-gray-100" [(ngModel)]="productDtoRequest.description" placeholder="Write Category Description here..."></textarea>
    </div>

    <button class="text-white bg-[#8DB600] hover:bg-[#8DB600]/80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>